<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- HelloBean helloBean = new HelloBean() -->
	<bean name="helloBean" class="com.exam.ex03.HelloBean" scope="prototype"/>
	<bean name="helloBean2" class="com.exam.ex03.HelloBean" scope="prototype">
		<!--
		<constructor-arg>
			<value>홍길동</value>
		</constructor-arg>
		-->
		<constructor-arg value="강감찬" />
	</bean>
	
	<bean name="helloBean3" class="com.exam.ex03.HelloBean" scope="prototype">	
		<!--
		<constructor-arg>
			<value>길동</value>
		</constructor-arg>
		<constructor-arg>
			<value>홍</value>
		</constructor-arg>
		-->
		<constructor-arg value="감찬" />
		<constructor-arg value="강" />
	</bean>

</beans>
